.AllRouterWrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding-top: 69px;
}

body {
    background-color: #fcf8e8;
    background-image: linear-gradient(120deg, #fcf8e8 8%, #ecb390 67%);
    background-attachment: fixed;
    min-height: 100%;

}